server {
    listen 80;

    location / {
        return 404;
    }

    location /${TOKEN}/ {
        alias /var/www/cc-beacon/;
        index index.html;
        add_header Cache-Control "no-store, no-cache, must-revalidate";
        add_header Content-Security-Policy "default-src 'none'; script-src 'self'; style-src 'self' 'unsafe-inline'; connect-src 'self';" always;
        add_header X-Content-Type-Options "nosniff" always;
        add_header X-Frame-Options "DENY" always;
    }
}
